@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .cardimg {
    width: 70%;
  }
}

* {
  margin: 0;
  padding: 0;
}
/* .news-input {
  width: 50%;
} */
.navbar {
  z-index: 100;
}
